<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="Photomem/controller.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<body>

  <div ng-app="myApp" ng-controller="myCtrl">
  <div id="killdiv" ng-show="showvar">


    <div >
      <!DOCTYPE html>
      <nav class="navbar navbar-default" style="position: absolute; top: 0; left: 0; width: 100vw;">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="https://braxattack.github.io/Photomem/photomem.html">PhotoMem</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#">No Link <span class="sr-only">(current)</span></a></li>
              <li><a href="#">No Link</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>


      <div style=" position: absolute; top: 50px; left: 0px; overflow-y: auto; width: 100vw; height: calc(100vh - 50px);">
        <div class="page-header">
          <h1 style="text-indent: 4vw;">Tests one</h1>
        </div>

        <button type="button" class="btn btn-primary btn-lg btn-block" style="width: 80vw; margin-left: 10vw;     margin-top: calc(50vh - 150px);" ng-click="beginTest()">Begin Test</button>

        <p style="width: 100vw; text-align: center; margin-top: 40px;">
          Unsure what to do..? <a>Check out the PhotoMem turotial</a>
        </p>
      </div>
    </div>
  </div>

  <div id="testDiv" ng-show="!showvar" ng-click="showwords()" style="width: 100vw; height: calc(100vh + 60px); position: absolute; background-color: black;">
      <p style="width:100vw; height:20px; background-color:red; position: absolute; text-align: center;">Scroll down to hide searchbar</p>
      <div style="margin-top:60px; width: 100vw; height: 100vh; float:left; overflow: hidden;">
        <p id="clicktobegin" style=" color: white; position: absolute; width: 100vw; text-align: center; font-size: 20px; top: calc(50vh + 20px);">Click to begin test</p>
        <p id="paragraph to memorize" style="text-align: center; font-size: {{ test.fsize }}; color: black; margin-top: calc(50vh - ({{ test.fsize }}/2));" ng-repeat=" test in testone | limitTo: 1">
          {{ test.text }}<i class="material-icons" style="font-size:{{ test.fsize }}">{{ test.icon }}</i>
        </p>
      </div>
  </div>


  </div>

  <script>
      var app = angular.module('myApp', []);
      app.controller('myCtrl', function($scope, $timeout, $interval) {

          $scope.showvar = true;
          $scope.beginTest = function(){

              $scope.showvar = false;
              $timeout(function () {
                alert("Test complete");
                window.location.assign("http://localhost/photoMemoryGame/photomem.html")
              }, 900000);
          }

          $scope.showwords = function(){

              document.getElementById('clicktobegin').style.zIndex = -3;
              document.getElementById('testDiv').style.backgroundColor = "white";
            $interval(function () {
              document.getElementById('testDiv').style.backgroundColor = "white";
                $timeout(function () {
                  document.getElementById('testDiv').style.backgroundColor = "black";

                }, 500);
            }, 2000);


          }

          $scope.testone = [
            {text:'', icon: 'play_circle_filled', durration: 500, fsize: '200px'}
          ];

      });
  </script>

  </body>
</html>
