<div class="Headerdiv" id="headerdivid" >
    <i id="headermenubutton" class="material-icons" ng-click="addmenu()">menu</i>
    <h1 class="headertext" >PhotoMem</h1>



<div id="progressbarIDdiv" class="progressbarIDdivclass">
    <p class="progressbartitle">
      Total Progress...
    </p>
    <p class="progressbarpercentagetitle">
      {{ percentagecompleted }}%
    </p>
    <div class="progressbardiv">
      <div class="progressbar" style="width: {{ percentagecompleted }}%;">

      </div>
    </div>
</div>


    <div class="progressbarbutton" ng-click="addprogress()">
      {{ percentagecompleted }}%
      <div class="progressbarbuttonCONTRAcontent" style="height: {{ contrapercentagecompleted }}%;">

      </div>
    </div>



<div id="slideoutdiv">
  <div id="slideoutdiv1" class="headermenuslideout" style="left: -50vw;">
      <div class="headermenuslideouttop">
          <img src="HollywoodsignpcTanyaM.jpg" class="headermenuuserpic" />
          <p class="headermenunameplace">Braxton Young</p>
          <p class="headermenunameplaceemail">youngbraxton@southern.edu</p>
          <img class="headermenulogo" src="photomemlogobrandinglogo.png" />
      </div>
      <div class="headermenuoptiondiv" ng-click="clickhome()">
          <i style="float: left; width: 100px; text-align: center; line-height: 80px; font-size: 40px;" class="material-icons">home</i>

          <p class="headermenuoptiontext">Home</p>

      </div>
      <div class="headermenuoptiondiv" ng-click="clickmemoryass()">
          <i style="float: left; width: 100px; text-align: center; line-height: 80px; font-size: 40px;" class="material-icons">assessment</i>
            <p class="headermenuoptiontext">Memory Assesment</p>
      </div>
      <div class="headermenuoptiondiv" ng-click="clickpasttests()">
          <i style="float: left; width: 100px; text-align: center; line-height: 80px; font-size: 40px;" class="material-icons">cached</i>
          <p class="headermenuoptiontext">Past Tests</p>
      </div>
      <div class="headermenuoptiondiv" ng-click="clicksettings()">
          <i style="float: left; width: 100px; text-align: center; line-height: 80px; font-size: 40px;" class="material-icons">settings</i>
          <p class="headermenuoptiontext">Settings</p>
      </div>

  </div>
  <div id="slideoutdiv2" class="headermenuslideoutmodal" style="left: -200vw; opacity: 0;" ng-click="removemenu(); removeprogress()">

  </div>
</div>
</div>
